
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game Over !!!!</h1>
    
    <ul>
        {{dump (data)}}
        {% set gameover = true %}
        {% for joueur in data %}
            {% if joueur.finished %}
                <li> {{ joueur.player }}--{{ joueur.bank }}</li>
            {% else  %}
                {% set gameover = false %}
            {% endif %}
        {% endfor %}
    </ul>
        
       
        {% if not gameover %}
        <a href="{{ path('gameOver', {'gameId' : game.id})}}" class="btn btn-primary">
                        Actualisez ...
       </a>
        {% else %}
            <h2>Classement final</h2>
            {% for joueur in data %}
            
                <li> {{ joueur.player }}--{{ joueur.bank }}</li>
            
            {% endfor %}
        {%endif %}
        
{% endblock %}