
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-10">
                <table>
                    {% set num_case=0 %}
                    <tr>
                        {% for j in 0..10 %}
                            <td class="case_game">
                                <img src="{{ asset('bundles/app/images/' ~ constant('\\AppBundle\\Model\\Board::BOARD')[num_case].valeur ~ '.jpg') }}"/>

                                {#  couleur joueurs#}

                                {% for joueur in data %}
                                    {# tester si le joeur est dans la ces #}
                                    {% if joueur.position == constant('\\AppBundle\\Model\\Board::BOARD')[num_case].index%}
                                        <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                    {% endif %}
                                {% endfor %}

                            </td>
                            {% set num_case=num_case+1 %}
                        {% endfor %}
                    </tr>
                    {% for i in 0..8 %}
                        <tr>
                            <td class="case_game">
                                <img src="{{ asset('bundles/app/images/' ~ constant('\\AppBundle\\Model\\Board::BOARD')[num_case].valeur ~ '.jpg') }}"/>

                                {% for joueur in data %}
                                    {# tester si le joeur est dans la ces #}
                                    {% if joueur.position == constant('\\AppBundle\\Model\\Board::BOARD')[num_case].index%}
                                        <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                    {% endif %}
                                {% endfor %}

                            </td>
                            {% set num_case=num_case+1 %}
                            {% for j in 0..8 %}
                                <td>
                                    <img class="euro" src=" {{ asset('bundles/app/images/euro.jpg') }}" />
                                    {# partie DICE #}
                                    {% set turn=false %}
                                    {% for joueur in data %}
                                        {% if joueur.player == app.user.username %}
                                            {% set turn = joueur.turn%}
                                        {% endif %}
                                    {% endfor %}
                                    {% if i==4 and j==4 %} 

                                        {% if not checkPermission or not turn%}
                                            <a href="{{ path('gameboard', {'gameId' : game.id}) }}" class="btn btn-primary">
                                                ATTENDRE
                                            </a>

                                        {%else%}
                                            <a href="{{ path('launchDice', {'gameId' : game.id }) }}" class="btn btn-primary">
                                                <img src="{{ asset('bundles/app/images/des.jpg') }}"/>
                                            </a>
                                            {#{% if dice is defined%}
                                                ghfhfgj
                                                <img src="{{ asset('bundles/app/images/des/' ~ dice ~ '.png' )}}"/>
                                            {%endif%}#}
                                        {%endif%}

                                    {% endif %} 
                                </td>
                            {% endfor %}
                            <td class="case_game">
                                <img src="{{ asset('bundles/app/images/' ~ constant('\\AppBundle\\Model\\Board::BOARD')[num_case].valeur ~ '.jpg') }}"/>

                                {% for joueur in data %}
                                    {# tester si le joeur est dans la ces #}
                                    {% if joueur.position == constant('\\AppBundle\\Model\\Board::BOARD')[num_case].index%}
                                        <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                    {% endif %}
                                {% endfor %}

                            </td>
                            {% set num_case=num_case+1 %}
                        </tr>
                    {% endfor %}
                    <tr>
                        {% for j in 0..9 %}
                            <td class="case_game">
                                <img src="{{ asset('bundles/app/images/' ~ constant('\\AppBundle\\Model\\Board::BOARD')[num_case].valeur ~ '.jpg') }}"/>

                                {% for joueur in data %}
                                    {# tester si le joeur est dans la ces #}
                                    {% if joueur.position == constant('\\AppBundle\\Model\\Board::BOARD')[num_case].index%}
                                        <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                    {% endif %}
                                {% endfor %}

                            </td>
                            {% set num_case=num_case+1 %}
                        {% endfor %}
                        <td class="case_game">
                            DEPART
                            {% for joueur in data %}
                                {# tester si le joeur est dans la ces #}
                                {% if joueur.position == constant('\\AppBundle\\Model\\Board::BOARD')[num_case].index%}
                                    <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                {% endif %}
                            {% endfor %}

                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-2">

                <h3>info du jeu </h3>
                <ul>
                    <li>Nom de la partie : <strong>{{game.gameName}}</strong> </li>
                    <li>Nb joueur : {{game.playersNb}} </li>
                    <li>Listes joueurs:
                        <ul>

                            {#{% for joueur in data %} 
81                          {% if joueur.player == app.user.username %} 
82                              {% set turn = joueur.turn%} 
83                          {% endif %} 
84                          <li> {{ joueur.player }}--{{ joueur.bank }}---{{ joueur.position }} ---{{ joueur.turn }}</li> 
85                          {% endfor %} 
 #}
                            {% for joueur in data %}
                                {#{% if joueur.player == app.user.username %}
                                    {% set turn = joueur.turn%}
                                {% endif %}#}
                                <li> 
                                    {{ joueur.player }}
                                    <strong>
                                        {{ joueur.bank }}
                                        €
                                    </strong>
                                    <img class="jetons" src=" {{ asset('bundles/app/images/jetons/'~joueur.color~'.jpg') }}" />
                                </li>
                            {% endfor %} 
                        </ul>
                    </li>
                </ul>                
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}

        <script>
            {#{% include asset('bundles/app/JS/ajax.js') %}#}

                $(document).ready(function () {
                    console.log('READY TO GO !');

                    /*    $.ajax({
                     async   : true,
                     type    : 'GET',
                     url     : 'ajax.php', //
                     data    : 'numPage=' + $(this).attr('data-page'),
                     success : function(data){
                     $('main').html(data);
                     } 
                     });*/
                    function refresh() {
                        //location.reload(true);
                        window.location = '{{ path('gameboard', {'gameId' : game.id}) }}';
                    }
                    setInterval(refresh, 4000);
                });

        </script>
    {% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <style>

            table {border-collapse: collapse;}
            .case_game{border: solid 1px #000;
                       width: 100px;
                       height: 50px;}
            img {
                width: 80px;
                height: auto;
            }

            .jetons {
                width: 30px;
                height: auto;
            }
            .euro {
                width: 50px;
                height: auto;
            }
            body { font: 18px/1.5 sans-serif; }

            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
            #container { padding: 2em; }
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
            #icon-book { display: none; }

            @media (min-width: 768px) {
                #wrapper { width: 80%; margin: 2em auto; }
                #icon-book { display: inline-block; }
                #status a, #next a { display: block; }

                @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
            }
        </style>
    {% endblock %}
