{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock  %}

{% block body %}    
    
    <div id="wrapper" class="text-center">
                      
        {# {{ dump(error) }} #}
            
        {{ form_start(form, {'attr': {class: 'form-signin'}}) }}

            <img class="mb-4" src="{{asset('bundles/app/images/mr_monopoly.jpg')}}" alt="" width="72" height="72">

            <h1 class="h3 mb-3 font-weight-normal">Qui êtes-vous?</h1>
            {{ form_widget(form) }}

            <input type="submit" value="LOGIN" class="btn btn-default pull-right" />


        {{ form_end(form) }}
                
    </div>
    
{% endblock  %}
